<div class="container">
    <div class="card p-3 card-container">
        <div class="card-header my-2 text-center">
           <b class="text-uppercase"> Admin Login</b>
        </div>
        <img id="profile-img" class="profile-img-card my-3" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>
        <a href="reset-password" class="forgot-password">
            Forgot the password?
        </a>
    </div>
</div>