<div class="page-wrapper chiller-theme toggled">
<app-side-navigation></app-side-navigation>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
        
        <h2>Order Details</h2>
        <hr />
        <div class="row">
            <div class="table-responsive rounded table-striped table-bordered">
            
            </div>
        </div>
    
        <footer class="text-center">
            <div class="mb-2">
            <small>
                © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
                Rights Reserved
            </small>
            </div>
        </footer>
        </div>
    </main>
</div>