<div class="page-wrapper chiller-theme toggled">
    <app-side-navigation></app-side-navigation>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">

            <div class="d-flex justify-content-between">
                <h2 class="my-2">Order Details</h2>
                <button class="btn btn-sm btn-dark mx-0 rounded" routerLink="/order/order-listing"> Back to my
                    orders</button>
            </div>
            <hr />
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <ng-container>
                            <table class="table table-bordered my-3">
                                <thead class="grey lighten-2">
                                    <tr>
                                        <th scope="col" class="text-nowrap">Product Name</th>
                                        <th scope="col" class="text-nowrap">Product Id</th>
                                        <th scope="col" class="text-nowrap">Quantity</th>
                                        <th scope="col" class="text-nowrap">Price</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let product of order?.products;let i=index">
                                    <tr>
                                        <th *ngIf="order?.mode != 'website'" scope="row" class="text-left">
                                            {{product.name}}
                                        </th>
                                        <th *ngIf="order?.mode == 'website'" scope="row" class="text-left">
                                            {{product.productName}}
                                        </th>
                                        <td class="text-nowrap">
                                            <p>{{product.productId}}</p>
                                        </td>
                                        <td>
                                            {{product.quantity}}
                                        </td>
                                        <td class="text-nowrap">
                                            <p>INR {{product.price}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row" colspan="2"></th>
                                        <td class="text-nowrap text-right">
                                            <p><b>Sub-Total:</b></p>
                                        </td>
                                        <td class="text-nowrap">
                                            <p>INR {{order?.totalAmnt}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-container>
                    </div>
                </div>

            </div>

            <footer class="text-center">
                <div class="mb-2">
                    <small>
                        © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
                        Rights Reserved
                    </small>
                </div>
            </footer>
        </div>
    </main>
</div>