<div class="page-wrapper chiller-theme toggled">
    <app-side-navigation></app-side-navigation>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
          <div class="container-fluid">
            <h2>Order Booking</h2>
            <hr />
            <div class="row">
                <form class="col">
                    <div class="form-group">
                      <label for="">Mode Of Booking</label>
                      <select class="form-control">
                        <option>Website</option>
                        <option selected>Phone</option>
                        <option>Whatsapp</option>
                      </select>
                    </div>

                    <div class="">
                      <div class="form-group">
                        <div class="d-flex justify-content-between">
                          <label for="">Product Name</label>
                          <span class="text-primary" style="cursor: pointer;">Add New Product</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Product Name">
                      </div>

                      <div class="form-group mt-2">
                        <label for="">Quantity</label>
                        <input type="text" class="form-control" placeholder="2">
                      </div>

                      <div class="form-group mt-2">
                          <label for="">Product Price (MRP)</label>
                          <input type="text" class="form-control" placeholder="INR 200">
                      </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p>Search Result</p>
                            <div class="row">
                                <div class="col-sm-4 col-md-3 col-lg-2 my-2">
                                    <div class="card px-2">
                                      <img src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg" class="card-img-top" style="height: 150px;">
                                      <div class="card-body px-0">
                                        <h5 class="card-title">Product name</h5>
                                        <p class="card-text">Description details goes here</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <button href="#" class="btn btn-success btn-sm mx-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-3 col-lg-2 my-2">
                                    <div class="card px-2">
                                      <img src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg" class="card-img-top" style="height: 150px;">
                                      <div class="card-body px-0">
                                        <h5 class="card-title">Product name</h5>
                                        <p class="card-text">Description details goes here</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <button href="#" class="btn btn-success btn-sm mx-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-3 col-lg-2 my-2">
                                    <div class="card px-2">
                                      <img src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg" class="card-img-top" style="height: 150px;">
                                      <div class="card-body px-0">
                                        <h5 class="card-title">Product name</h5>
                                        <p class="card-text">Description details goes here</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <button href="#" class="btn btn-success btn-sm mx-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-3 col-lg-2 my-2">
                                    <div class="card px-2">
                                      <img src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg" class="card-img-top" style="height: 150px;">
                                      <div class="card-body px-0">
                                        <h5 class="card-title">Product name</h5>
                                        <p class="card-text">Description details goes here</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <button href="#" class="btn btn-success btn-sm mx-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-3 col-lg-2 my-2">
                                    <div class="card px-2">
                                      <img src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg" class="card-img-top" style="height: 150px;">
                                      <div class="card-body px-0">
                                        <h5 class="card-title">Product name</h5>
                                        <p class="card-text">Description details goes here</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <button href="#" class="btn btn-success btn-sm mx-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-3 col-lg-2 my-2">
                                    <div class="card px-2">
                                      <img src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg" class="card-img-top" style="height: 150px;">
                                      <div class="card-body px-0">
                                        <h5 class="card-title">Product name</h5>
                                        <p class="card-text">Description details goes here</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <button href="#" class="btn btn-success btn-sm mx-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                                      </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-3 col-lg-2 my-2">
                                    <div class="card px-2">
                                      <img src="https://rukminim1.flixcart.com/image/150/150/k0cqqvk0/bottle/4/v/c/1000-venice-fridge-water-bottles-120-cello-original-imafk5tysrejtyhj.jpeg" class="card-img-top" style="height: 150px;">
                                      <div class="card-body px-0">
                                        <h5 class="card-title">Product name</h5>
                                        <p class="card-text">Description details goes here</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <button href="#" class="btn btn-success btn-sm mx-2"><i class="fa fa-check" aria-hidden="true"></i></button>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    

                    <div class="form-group">
                        <label for="">Order Total</label>
                        <input type="text" class="form-control" placeholder="Rs 200" disabled>
                    </div>

                    <div class="form-group">
                        <label for="">Address</label>
                        <textarea class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="">GST (Applicable only at Business Purchase)</label>
                        <input type="text" class="form-control" placeholder="GSTIN">
                    </div>

                    <div class="form-group">
                        <label for="">Business Name</label>
                        <input type="text" class="form-control" placeholder="Name of business">
                    </div>

                    <div class="form-group">
                        <label for="">Payment Mode</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Debit Card / Credit Card
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                              UPI Payment
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                            <label class="form-check-label" for="exampleRadios3">
                              Payment Gateway (PayTM, PhonePe, GooglePay)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                            <label class="form-check-label" for="exampleRadios4">
                              Cash On Delivery
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm rounded m-0">Proceed To Payment</button>
                  </form>
            </div>
      
            <footer class="text-center">
              <div class="mb-2">
                <small>
                  © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
                  Rights Reserved
                </small>
              </div>
            </footer>
          </div>
        </main>
    
        <!-- page-content" -->
      </div>
      <!-- page-wrapper -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
      