<div class="page-wrapper chiller-theme toggled">
    <app-side-navigation></app-side-navigation>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
  
        <div class="d-flex justify-content-between">
          <h2>Edit Category & Sub-Category</h2>
          <button class="btn btn-sm btn-dark mx-0 rounded" routerLink="/category/category-listing"> Back to Category listing</button>
      </div>
  
        <hr />
        <div class="row">
            <form class="col-md-12">
                <div class="form-group">
                  <label class="my-1">Category Name</label>
                  <input type="text" class="form-control" placeholder="Category Name" name="category" [(ngModel)]="categoryName">
                </div>
                <button type="submit" class="btn btn-dark mx-0 btn-sm rounded" (click)="updateCategory()">Update Category</button>
            </form>
        </div>
        <hr>
        <div class="row">
            <form class="col-md-12">
                <div class="form-group" *ngFor="let subcategory of categoriesData; let i = index">
                  <label class="my-1">SubCategory Name</label>
                  <input type="text" class="form-control" name="{{i}}" [(ngModel)]="categoriesData[i].subCategoryName">
                </div>

                <button type="submit" class="btn btn-dark mx-0 btn-sm rounded" (click)="updateSubCategory()">update subcategory</button>
            </form>
        </div>
  
        <footer class="text-center">
          <div class="mb-2">
            <small>
              © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
              Rights Reserved
            </small>
          </div>
        </footer>
      </div>
    </main>
  
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->