<div class="container">
    <div class="card p-3 card-container">
        <div class="card-header my-2 text-center">
           <b class="text-uppercase"> Admin Signup</b>
        </div>
        <img id="profile-img" class="profile-img-card my-3" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat Password" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign Up</button>
        </form>
        <a href="login" class="forgot-password">
            Already have a account?
        </a>
    </div>
</div>