<div class="page-wrapper chiller-theme toggled">
    <app-side-navigation></app-side-navigation>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
          <div class="container-fluid">
            <h2>Add Category</h2>
            <hr />
            <div class="row">
                <form class="col">
                    <div class="form-group">
                      <label for="">Category Name</label>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="">Sub Category Name</label>
                      <input type="text" class="form-control" placeholder="Sub Category Name">
                    </div>
                    <button type="submit" class="btn btn-primary rounded m-0">Add Category</button>
                  </form>
            </div>
      
            <footer class="text-center">
              <div class="mb-2">
                <small>
                  © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
                  Rights Reserved
                </small>
              </div>
            </footer>
          </div>
        </main>
    
        <!-- page-content" -->
      </div>
      <!-- page-wrapper -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
      