<div class="container">
    <div class="card card-container">
        <div class="card-header my-2 text-center">
           <b class="text-uppercase"> Forgot Password</b>
        </div>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Send Link</button>
        </form>
        <p>We'll send you password reset link on your Email address</p>
        <p class="text-success">We've send your password reset link on your email address. Please follow the instructions to proceed. Thank You</p>
    </div>
</div>