<div class="page-wrapper chiller-theme toggled">
  <app-side-navigation></app-side-navigation>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Seller Listing</h2>
      <hr />
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="square-jelly-box"
      >
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <div class="row">
        <div class="filer col p-3 rounded my-2 elegant-color text-white">
          <div class="row d-flex align-items-center">
            <!-- <div class="col-lg-9">
              <span class="small mr-3">Listing Status</span>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline1"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline1"
                    >All</label
                  >
                </div>
  
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline2"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline2"
                    >Active</label
                  >
                </div>
  
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline3"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline3"
                    >Inactive</label
                  >
                </div>
  
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline4"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline4"
                    >Blocked</label
                  >
                </div>
            </div> -->
            <div class="col-lg-3 my-2">
              Sort By
              <select class="form-control" (change)="sortData($event)">
                <option value="">Default</option>

                <option value="isEmailVerified-asc">Status (A - Z) </option>
                <option value="isEmailVerified-desc">Status (Z - A) </option>
                <option value="storename-asc">Store Name (A - Z) </option>
                <option value="storename-desc">Store Name (Z - A) </option>
                <option value="createdAt-asc">Date Created (A - Z) </option>
                <option value="createdAt-desc">Date Created (Z - A) </option>
              </select>
            </div>
            <div class="col-lg-6">
              Search Orders
              <div class="input-group">
                <input type="search" class="form-control rounded" [(ngModel)]="searchTerm" placeholder="Search Sellers" />
                <span class="input-group-text border-0" id="search-addon" style="cursor: pointer;" (click)="searchSeller()">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive rounded table-striped">
          <table class="table" id="myTable">
            <thead class="grey lighten-2 small text-uppercase">
              <tr class="text-nowrap">
                <th scope="col">Email Verified</th>
                <th scope="col">Store Name</th>
                <th scope="col">Seller Email</th>
                <th scope="col">Seller Phone</th>
                <th scope="col">Date Created</th>
                <th scope="col">Total lisited Products</th>
                <th scope="col">Action</th>
                <th scope="col">Verification Status</th>
              </tr>
            </thead>
            <tbody *ngIf="users.length">
              <tr *ngFor="let user of users; let i = index">
                <td>
                  <p class="text-left small m-0">
                    {{ user?.isEmailVerified ? "Verified" : "Not Verified" }}
                  </p>
                </td>
                <td>
                  {{ user?.storename ? user?.storename : "NA" }}
                </td>
                <td>
                  {{ user?.email ? user?.email : "NA" }}
                </td>
                <td>
                  {{ user?.mobile ? user?.mobile : "NA" }}
                </td>
                <td>{{ user?.createdAt | date: "medium" }}</td>
                <td>
                  N/A
                </td>
                <td>
                  <div class="custom-control custom-switch my-n2">
                    <input type="checkbox" class="custom-control-input" (change)="statusChange(user)" id="_{{ user?._id }}"
                      name="_{{ user?._id }}" [checked]="user?.isActive ? true : false">
                    <label class="custom-control-label cursor-pointer my-2" for="_{{ user?._id }}">{{ user?.isActive ? 'Active': 'InActive'
                      }}</label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-switch my-n2">
                    <input type="checkbox" class="custom-control-input" (change)="statusChangeVerification(user)" id="__{{ user?._id }}"
                      name="__{{ user?._id }}" [checked]="user?.isVerified ? true : false">
                    <label class="custom-control-label cursor-pointer my-2" for="__{{ user?._id }}">{{ user?.isVerified ? 'Verified': 'Not Verified'
                      }}</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
            Rights Reserved
          </small>
        </div>
      </footer>
    </div>
  </main>

  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>