<div class="page-wrapper chiller-theme toggled">
  <app-side-navigation></app-side-navigation>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>Seller Listing</h2>
      <hr />
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="square-jelly-box"
      >
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <div class="row">
        <div class="filer col p-3 rounded my-2 elegant-color text-white">
          <div class="row d-flex align-items-center">
            <div class="col-lg-9">
              <!-- <span class="small mr-3">Listing Status</span>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline1"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline1"
                    >All</label
                  >
                </div>
  
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline2"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline2"
                    >Active</label
                  >
                </div>
  
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline3"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline3"
                    >Inactive</label
                  >
                </div>
  
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    type="radio"
                    class="custom-control-input"
                    id="defaultInline4"
                    name="inlineDefaultRadiosExample"
                  />
                  <label class="custom-control-label" for="defaultInline4"
                    >Blocked</label
                  >
                </div> -->
            </div>
            <div class="col-lg-3 my-2">
              Sort By
              <select class="form-control" (change)="sortData($event)">
                <option value="">Default</option>

                <option value="isEmailVerified-asc">Status (A - Z) </option>
                <option value="isEmailVerified-desc">Status (Z - A) </option>
                <option value="storename-asc">Store Name (A - Z) </option>
                <option value="storename-desc">Store Name (Z - A) </option>
                <option value="createdAt-asc">Date Created (A - Z) </option>
                <option value="createdAt-desc">Date Created (Z - A) </option>
              </select>
            </div>
          </div>
        </div>
        <div class="table-responsive rounded table-striped">
          <table class="table">
            <thead class="grey lighten-2 small text-uppercase">
              <tr class="text-nowrap">
                <th scope="col">
                  <input type="checkbox" style="cursor: pointer" />
                </th>
                <th scope="col">Status</th>
                <th scope="col">Store Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">Total lisited Products</th>
              </tr>
            </thead>
            <tbody *ngIf="users.length">
              <tr *ngFor="let user of users; let i = index">
                <td scope="row">
                  <input type="checkbox" style="cursor: pointer" />
                </td>
                <td>
                  <p class="text-left small m-0">
                    {{ user?.isEmailVerified ? "Active" : "Inactive" }}
                  </p>
                  <span
                    *ngIf="!user?.isEmailVerified"
                    class="text-left small m-0 p-0 text-muted"
                    >(Not Verified)</span
                  >
                </td>
                <td>
                  {{ user?.storename ? user?.storename : "NA" }}
                </td>
                <td>{{ user?.createdAt | date: "medium" }}</td>
                <td>
                  N/A
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2021 made with <i class="fa fa-heart" style="color: red"></i> All
            Rights Reserved
          </small>
        </div>
      </footer>
    </div>
  </main>

  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
